services:
  chuntaro-chats-db:
    image: postgres:15-alpine
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - chuntaro-chats-db-data:/var/lib/postgresql/data
      
  adminer:
    image: adminer
    ports:
      - "8080:8080"
    

volumes:
  chuntaro-chats-db-data: